.no-link:hover{
	cursor: pointer; cursor: hand; 
}

.timeline_afterDate{
	margin-top: 45px;
}

.timeline_otherwise{
	margin-top: 15px;
}

.people-list{
	margin-right: 10px;
	margin-bottom: 10px;
}

.img-timeline{
	width: 10px;
}

.todoTitle{
	color:black;
	margin:5px 5px;
	position: absolute;
}