<div ng-controller="DashboardController">
 
  <!-- Content Wrapper. Contains page content -->
  	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    	<section class="content-header">
      		<h1>{{person.name}}'s Dashboard</h1>
      		<ol class="breadcrumb">
				<li><a href="/itracker/"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">{{person.name}}</li>
			</ol>
      	</section>

 
    <!-- Main content -->
    	<section class="content">
      		<div class="row">
				<div class="col-md-6">
	  				<div class="box box-primary" ng-show = "role.updatePersonalInfo">
	    				<div class="box-header with-border">
	      					<h3 class="box-title">
								Update My Information
							</h3>
	      				</div>
		    			<div class="box-body">
		      				<div class="form-group" ng-class="{'has-success':personalUpdate}">
								<label for="major">Major:</label>
								<input type="text" id="major" class="form-control" ng-model="role.major">
							</div>
		      				<div class="form-group" ng-class="{'has-success':personalUpdate}">
								<label for="classStanding">Class Standing:</label>
								<input type="text" id="classStanding" class="form-control" ng-model="role.classStanding">
							</div>
		      				<div class="form-group" ng-class="{'has-success':personalUpdate}">
		      					<label>Current position:</label> {{role.position}}<br>
								<label for="position">New Position:</label>
								<select id="position" class="form-control" ng-model="role.positionId">
									<option ng-repeat="pos in positions" value="{{pos.id}}" ng-selected="pos.id = role.positionId">{{pos.name}}</option>
								</select>
							</div>
		      				<div class="form-group" ng-class="{'has-success':personalUpdate}">
								<label for="hometown">Hometown:</label>
								<input type="text" id="hometown" class="form-control" ng-model="role.hometown">
							</div>
		      				<div class="form-group" ng-class="{'has-success':personalUpdate}">
								<label for="fact">Interesting Fact:</label>
								<input type="text" id="fact" class="form-control" ng-model="role.fact">
							</div>
		      				<div class="form-group" ng-class="{'has-success':personalUpdate}">
								<label for="bio">Bio:</label>
								<textarea rows="8" id="bio" class="form-control" ng-model="role.bio"></textarea>
							</div>
		      			</div>
		    			<div class="box-footer">
		      				<button type="submit" class="btn btn-primary" ng-click="UpdatePersonal()">Update</button>
	  					</div>
		    		</div>
  				<div class="box box-primary" ng-show = "role.addOfficer">
	    			<div class="box-header with-border">
	      				<h3 class="box-title">
							Add Officer
						</h3>
	      			</div>
	    			<div class="box-body">
	      				<div class="form-group" ng-repeat="dept in depts | orderBy: name" ng-class="{'has-success':updateOfficer}">
							<h4>{{dept.name}}</h4><br>
							<div class="form-group" ng-repeat="pos in departmentPositions[dept.id] | orderBy: name">
	  							<label for="role">{{pos.name}}</label>
  								<select id="role" ng-model="pos.holder" class="form-control">
							    	<option ng-repeat="per in dept.memberships | orderBy: name" value="{{per.id}}" ng-selected="per.id == pos.holder">{{per.name}}</option>
	    						</select>
	  						</div>
						</div>
	      			</div>
	    			<div class="box-footer">
	      				<button type="submit" class="btn btn-primary" ng-click="changeOfficer()">Update</button>
	      			</div>
	    		</div>
	  		</div>
			<div class="col-md-6">
				<div class="box box-primary" ng-show = "role.createPosition">
	    			<div class="box-header with-border">
	      				<h3 class="box-title">
							Add Position
						</h3>
	      			</div>
	    			<div class="box-body" >
	    				<div class="form-group" ng-class="{'has-success':newPos}">
	    					<label for="posdepts">Department to add to:</label>
	    					<select id="posdepts" class="form-control">
	    						<option ng-repeat="dept in positionDepartmentList | orderBy: name" value="{{dept.id}}">{{dept.name}}</option>
	    					</select>
		    				<label for="newPosition">New Position</label>
		    				<input type="text" ng-model="newPosition" class="form-control">
	    				</div>
	    			</div>
	    			<div class="box-footer">
	      				<button type="submit" class="btn btn-primary" ng-click="createPosition()">Update</button>
	      			</div>
	    		</div>
	  			<div class="box box-primary" ng-show = "role.makeAdmin">
	    			<div class="box-header with-border">
	      				<h3 class="box-title">
							Add Administrater
						</h3> 
	      			</div> 
	    			<div class="box-body">
	      				<div class="form-group" ng-class="{'has-success':addAd}">
							<label for="admin">Add Aministrator</label>
							<select ng-model="newAdmin" class="form-control" >
						  		<option ng-repeat="per in main.people | orderBy: info.name" value="{{per.info.id}}">{{per.info.name}}</option>
		  					</select>
						</div>
	      			</div>
	    			<div class="box-footer">
	      				<button type="submit" class="btn btn-primary" ng-click="addAdmin()">Update</button>
	      			</div>
	    		</div>
	  			<!-- <div class="box box-primary" ng-show = "role.addDepartmentPicture">
	    			<div class="box-header with-border">
	      				<h3 class="box-title">
							Add Department Picture
						</h3>
	      			</div>
	    			<div class="box-body">
	      				<div class="form-group">

						</div>
	      			</div>
	    		</div>
	  			<div class="box box-primary" ng-show = "role.addProjectPicture">
	    			<div class="box-header with-border">
	      				<h3 class="box-title">
							Add Project Picture
						</h3>
					</div>
				</div> -->
			</div>
		</div>
	</section>
</div>
