.projectView{
  background: #000;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  @include shadow(1);
}
.projectView:hover{
  @include shadow(2);
}

.projectPicture{
  display: block;
  object-fit: cover;
  max-height: 300px;
}
.projectPicture.canEdit{
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  border: rgba(0,0,0,0) solid 1px;
}
.projectPicture.canEdit:hover{
  @include shadow(2);

  border: rgba(255,0,0,1) solid 1px;
}