.projectView{
  background: #000;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  @include shadow(1);
}
.projectView:hover{
  @include shadow(2);
}