<div ng-controller="PersonController">

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Profile: {{person.name}}
			</h1>
			<ol class="breadcrumb">
				<li><a href="/itracker/"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="/itracker/people/by-name/">People</a></li>
				<li class="active">{{person.name}}</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-3">

					<!-- Profile Image -->
					<div class="box box-primary">
						<div class="box-body box-profile">
							<img class="profile-user-img img-responsive img-circle" src="{{person.avatar_url}}" alt="User profile picture">
							<h3 class="profile-username text-center">{{person.name}}</h3>
							<p class="text-muted text-center">POSITION</p>
							<ul class="list-group list-group-unbordered" style="">
								<li class="list-group-item" ng-show="depts.length > 0" style="border-bottom:0px;">
									<b ng-show="depts.length == 1">Department</b>
									<b ng-show="depts.length > 1">Departments</b><br/>
									<a href="/itracker/departments/{{dept.id}}"><li ng-repeat="dept in depts">{{dept.name}}</li></a>
								</li>
								<li class="list-group-item">
									<b>E-Mail Address</b><br/>
									<a class="mailto:{{person.email_address}}">{{person.email_address}}</a>
								</li>
							</ul>
							<!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
						</div>	<!-- /.box-body -->
					</div>	<!-- /.box -->

					<!-- About Me Box -->
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">About Me</h3>
						</div>	<!-- /.box-header -->
						<div class="box-body">
							<strong><i class="fa fa-user"></i> Bio</strong>
							<p class="text-muted">
								This is a bio about how awesome I am
							</p>
							<hr>
							<strong><i class="fa fa-book margin-r-5"></i> Major and Class Standing</strong>
							<p class="text-muted">
								Junior, Computer Science (B.S.)
							</p>
							<hr>
							<strong><i class="fa fa-map-marker margin-r-5"></i> Hometown</strong>
							<p class="text-muted">Catonsville, Maryland</p>
							<!-- <hr>
							<strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
							<p>
								<span class="label label-danger">UI Design</span>
								<span class="label label-success">Coding</span>
								<span class="label label-info">Javascript</span>
								<span class="label label-warning">PHP</span>
								<span class="label label-primary">Node.js</span>
							</p> -->
							<hr>
							<strong><i class="fa fa-question-circle"></i> One thing I really want to share with the world is...</strong>
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
						</div>	<!-- /.box-body -->
					</div>	<!-- /.box -->
				</div>	<!-- /.col -->
				<div class="col-md-9">

					<div class="nav-tabs-custom" ng-init="tab=1">
						<ul class="nav nav-tabs">
							<li class="active" ng-click="tab = 1"><a class="no-link" data-toggle="tab">Projects and Tasks</a></li>
							<li ng-click="tab = 2"><a class="no-link" data-toggle="tab">Timeline</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane" ng-class="{active: tab == 1}" id="activity">
								
							</div>	<!-- /.tab-pane -->
							<div ng-class="{active: tab == 2}" class="tab-pane" id="timeline">
								<!-- The`timeline -->
								<ul class="timeline timeline-inverse" >
									<li class="time-label" ng-repeat="event in events | limitTo: limit ">
										<span class="bg-red" ng-show ='event.created_at.length > 0'> 
											{{event.created_at}}
										</span>
										<i ng-class="{timeline_afterDate: event.created_at.length > 0, timeline_otherwise: event.created_at.length == 0}" class="fa fa-user bg-blue"></i>

										<div class="timeline-item" style="margin-top:10px;">
											<span class="time">
												<!-- <i class="fa fa-clock-o"></i> TIME -->
											</span>
											<h3 class="timeline-header">
												{{person.name}} <span ng-bind-html="event.summary"></span>
											</h3>
										</div>
									</li>
									<li>
										<button type="button" class="btn btn-primary" ng-hide = "!more"  ng-click = "limit = limit + 5; getEventSet()"><i class="fa fa-clock-o"></i> Show Previous Events</button>
									</li>
								</ul>
							</div>	<!-- /.tab-pane -->

							<div class="tab-pane" id="settings">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="inputName" class="col-sm-2 control-label">Name</label>
										<div class="col-sm-10">
											<input type="email" class="form-control" id="inputName" placeholder="Name">
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail" class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
											<input type="email" class="form-control" id="inputEmail" placeholder="Email">
										</div>
									</div>
									<div class="form-group">
										<label for="inputName" class="col-sm-2 control-label">Name</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="inputName" placeholder="Name">
										</div>
									</div>
									<div class="form-group">
										<label for="inputExperience" class="col-sm-2 control-label">Experience</label>
										<div class="col-sm-10">
											<textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="inputSkills" class="col-sm-2 control-label">Skills</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="inputSkills" placeholder="Skills">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<div class="checkbox">
												<label>
													<input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" class="btn btn-danger">Submit</button>
										</div>
									</div>
								</form>
							</div>	<!-- /.tab-pane -->
						</div>	<!-- /.tab-content -->
					</div>	<!-- /.nav-tabs-custom -->
				</div>	<!-- /.col -->
			</div>	<!-- /.row -->
		</section>	<!-- /.content -->
	</div>	<!-- /.content-wrapper -->
</div>