<div ng-controller="ProjectController">

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				{{project.name}}
			</h1>
			<ol class="breadcrumb">
				<li><a href="/itracker/"><i class="fa fa-home"></i> Home</a></li>
				<li>Projects</li>
				<li class="active">{{project.name}}</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-md-5">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">
								Progress Bar
							</h3>
						</div>
						<div class="box-body">
							<div class="progress progress-xl progress-striped active">
		                    	<div class="progress-bar progress-bar-primary" style="width: {{(((activeTodoListsCompletedCount + completedTodoListsCompletedCount) * (100 / (activeTodoListsRemainingCount + activeTodoListsCompletedCount + completedTodoListsRemainingCount + completedTodoListsCompletedCount))) || '0') | number:0}}%">
		                    		{{(((activeTodoListsCompletedCount + completedTodoListsCompletedCount) * (100 / (activeTodoListsRemainingCount + activeTodoListsCompletedCount + completedTodoListsRemainingCount + completedTodoListsCompletedCount))) || '0') | number:0}}%
		                    	</div>
		                    </div>
						</div>
					</div>
					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title">
								Project At-A-Glance
							</h3>
						</div>
						<div class="box-body">
							<table class="table table-condensed">
								<tbody>
									<tr>
										<th>Name</th>
										<th style="width: 225px">{{project.name}}</th>
									</tr>
									<tr>
										<th>Description</th>
										<th style="width: 225px">{{project.description}}</th>
									</tr>
									<tr>
										<th>Created By</th>
										<th style="width: 225px">{{project.creator.name}}</th>
									</tr>
									<tr>
										<th>Created At</th>
										<th style="width: 225px">{{project.created_at}}</th>
									</tr>
									<tr>
										<th>Last Updated</th>
										<th style="width: 225px">{{project.updated_at}}</th>
									</tr>
									<tr>
										<th># of Topics</th>
										<th style="width: 225px">{{project.topics.count}}</th>
									</tr>
									<tr>
										<th>Completed To-Do Lists</th>
										<th style="width: 225px">{{project.todolists.completed_count}}</th>
									</tr>
									<tr>
										<th>Outstanding To-Do Lists</th>
										<th style="width: 225px">{{project.todolists.remaining_count}}</th>
									</tr>
									<tr>
										<th># of Accesses</th>
										<th style="width: 225px">{{project.accesses.count}}</th>
									</tr>
									<tr>
										<th># of Documents</th>
										<th style="width: 225px">{{project.documents.attachments + project.attachments.count}}</th>
									</tr>
									<tr>
										<th># of Events</th>
										<th style="width: 225px">{{project.calendar_events.count}}</th>
									</tr>
								</tbody>
							</table>
						</div> <!-- /.box-body -->
					</div> <!-- /.box -->
				<!-- </div> /.col -->
				<!-- <div class="col-md-4"> -->
					<div class="box box-primary" ng-show="project.todolists.remaining_count > 0">
						<div class="box-header with-border">
							<h3 class="box-title">Active To-Do Lists</h3>
							<div class="box-tools pull-right">
								<div ng-init="currentList = activeTodoLists[0]">
									{{currentList.name}}
									<div class="btn-group">
	                					<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
	                    				<i class="fa fa-bars"></i></button>
	                  					<ul class="dropdown-menu pull-right" role="menu">
						                    <!-- <li><a href="#" ng-repeat="list in activeTodoLists">{{list.name}}</a></li> -->
						                    <li><a href="#" >{{currentList.name}}</a></li>
	                  					</ul>
	                				</div>
	                			</div>
							</div>
						</div>
						<div class="box-body">
							<div ng-repeat="list in activeTodoLists">
								{{list.name}}
								<div class="progress progress-md progress-striped active">
									<div class="progress-bar progress-bar-primary" style="width:{{(list.completed_count * (100 / (list.remaining_count + list.completed_count))) || '0' | number:0}}%">{{(list.completed_count * (100 / (list.remaining_count + list.completed_count))) || '0' | number:0}}% complete</div>
	                        		({{list.completed_count}}/{{list.remaining_count + list.completed_count}} todo's)
	                        	</div>
                        	</div>
						</div>
					</div>
					<div class="box box-primary" ng-show="project.todolists.completed_count > 0">
						<div class="box-header with-border">
							<h3 class="box-title">Completed To-Do Lists</h3>
							<div class="box-tools pull-right">
								<div class="btn-group">
                					<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    				<i class="fa fa-bars"></i></button>
                  					<ul class="dropdown-menu pull-right" role="menu">
					                    <li><a href="#" ng-repeat="list in completedTodoLists">{{list.name}}</a></li>
                  					</ul>
                				</div>
							</div>
						</div>
						<div class="box-body">
							!!!
						</div>
					</div>
					<div class="box box-primary" ng-show="(project.attachments.count + project.documents.count) > 0">
						<div class="box-header with-border">
							<h3 class="box-title">Documents</h3>
						</div>
						<div class="box-body">
							!!!
						</div>
					</div>
				</div> <!-- /.col -->
				<div class="col-md-7">
					<ul class="timeline" ng-init="limit = 5">
						<li class="time-label" ng-repeat="entry in projectRSSentries | limitTo: limit ">
							<span class="bg-red" ng-show ='entry.published.length > 0'> 
								{{entry.published}}
							</span>
							<i style="margin-top:40px;" class="fa fa-user bg-blue"></i>

							<div class="timeline-item" style="margin-top:10px;">
								<span class="time">
									<!-- <i class="fa fa-clock-o"></i> TIME -->
								</span>
								<h3 class="timeline-header">
									{{entry.title}}
								</h3>
								<div ng-bind-html="entry.content" class="timeline-body">
									
								</div>
							</div>
						</li>
						<li>
							<button ng-hide = "limit >= projectRSSentries.length" 
									ng-click = "limit = limit + 2">show more</button>
						</li>
					</ul>
					
				</div>
			</div> <!-- /.row -->
			
		</section> <!-- /.content -->
	</div> <!-- /.content-wrapper -->
</div>

